*{
    margin: 0px;
    padding: 0px; 
 }
 header{
     color: white;
     background-color: rgb(0, 84, 166);
 }
 body{
     background-color: white;
     font-family: 'Roboto', sans-serif;
 
 }
 a{
     color: rgb(255, 255, 255);
     margin: 15px;
 }
 img{
     display: block; 
     width: 40%; /* responsive  */
     margin: auto;
     border-radius: 10px; 
     border: 4px solid white;
 }
 
 
 /* Cambiar raton al pasar por el link */
 a:hover{
     color: orangered;
 }

 .lmenu:hover{
    color: white;
 }

 .desplegable{
    display: inline-block;
    position: relative;
    
    text-decoration: underline;

 }
 .desplegable a{
    margin: 15px;
 }

 hr{
    width: 90%;
    margin: auto;
 }
 .submenu{
    display: none;
    position: absolute;
    border-radius: 10px;
    width: 250%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    top: 85%; 
    background-color: rgb(0, 84, 166);
    

 }
 .desplegable:hover .submenu{
    display: block;
    
 }

 .submenu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    
  }
  .submenu a:hover {
    color: #FFFFFF;
  }
  ul{
     display: flex;
     margin-right: 30%;
     list-style: none;
     justify-content: center;
     align-items: center;
     text-align: left;  
  }
  

 nav {
     width: 100%;
     height: 35px;
     padding-top: 10px;
     padding-bottom: 10px;
     display: flex;
     justify-content: space-between;
     
  } 
 
 #logo{
     width: 80%;
     margin-right: 10%;
     background-color: white;
 }
 
  .sesion{
     text-align: right;
     margin-right: 3%;
  }
  .vertical-line {
     border-left: 1px solid white;
     height: 90%;
   }