@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap');

/*
*  #############################
*          General styles
*  #############################
*/

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #ededed;
}

a {
    text-decoration: none;
}

/*
*  #############################
*      Navigation bar styles
*  #############################
*/

nav {
    width: 100%;
    background-color: #0053a6;
    padding: 5px 20px;
    font-family: 'Inter', sans-serif;
    color: white;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    transition: background-color 0.3s;
}

nav .menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav .menu li {
    font-size: 16px;
    padding: 15px 5px;
    transition: all .3s ease;
}

nav .menu li a {
    display: block;
    color: white;
}

nav .menu .logo {
    flex: 0 0 auto;
    order: 0;
    user-select: none;
    padding: 5px 0px;
}

nav .menu .logo a img {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    height: 40px;
}

nav .menu .item.active {
    border-bottom:2px solid #0a60b5;
    display: block;
}

nav .menu .end.item.active {
    display: none;
}

nav .menu .toggle { 
    order: 0;
    cursor: pointer;
}

nav .menu .item {
    width: 100%;
    text-align: center;
    order: 1;
    display: none;
    margin-left: 10px;
}

nav .menu .toggle .bars {
    background: white;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

nav .menu .toggle .bars::before, .bars::after {
    background: white;
    content:"";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

nav .menu .toggle .bars::before {
    top:5px;
}

nav .menu .toggle .bars::after {
    top: -5px;
}

#submenu ul,
#submenu-right ul {
    list-style: none;
    display: none;
    position: relative;
    background-color: #075cb0;
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
}

#submenu ul li:hover,
#submenu-right ul li:hover {
    background-color: #0864c0;
    border-radius: 5px;
}

#submenu ul li a,
#submenu-right ul li a {
    display: block;
    text-decoration: none;
}

#submenu:hover > ul,
#submenu-right:hover > ul {
    display: block;
}

#sesion button {
    transition: all .5s ease;
    background-color: #0054a6;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

#sesion button:hover {
    background-color: #0864c0;
}

#sesion button img {
    margin-left: 10px;
}

#sesion button a {
    text-decoration: none;
    font-size: 16px;
}

#separator {
    display: none;
}

/*
*  ##############################
*  Page styles at min width 468px
*  ##############################
*/

@media all and (min-width:468px) {    
    nav .menu {
        justify-content: center;
    }
    nav .menu .logo {
        flex: 1;
    }
    #sesion {
        width: auto;
        order: 1;
        display: block;
    }
    nav .menu .toggle {
        order: 1;
    }
    nav .menu .toggle.active {
        order: 0;
    }
    #sesion button {
        display: flex;
    }
}

/*
*  ##############################
*  Page styles at min width 768px
*  ##############################
*/
@media all and (min-width:970px) {  
    nav .menu .tag {
        position: relative;
        text-decoration: none;
    }
    nav .menu .tag::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #f8f8f8;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }
    nav .menu .tag:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
    nav .menu .item {
        display: block;
        width: auto;
        order: 1;
    }
    nav .menu .end {
        order: 1;
        flex: auto;
    }
    nav .menu .toggle { 
        display: none;
    }
    nav .menu li {
        padding: 15px 10px;
    }
    nav .menu .logo {
        flex: 0 0 auto;
        order: 0;
        padding: 5px 0px;
    }
    #sesion {
        order: 2;
        padding-right: 0;
        padding: 0px;
    }
    nav .menu .item.active {
        border-bottom: none;
    }
    #submenu ul,
    #submenu-right ul {
        box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.4);
        position: absolute;
    }
    #submenu ul {
        transform: translateX(-80px);
    }
    #submenu-right ul {
        transform: translateX(-50px);
    }
    #separator {
        display: block;
        padding: 0px;
    }
}

/*
*  ###############################
*  Page styles at min width 1500px
*  ###############################
*/

@media all and (min-width:1500px) {
    nav .menu {
        padding-left: 10%;
        padding-right: 10%;
    }
}