@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
    background-image: url('../imagenes/fondo_cliente.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.block1  {
    display: block;
    width: max-content;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 20px 50px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    transition: all .5s ease;
    text-align: left;
}

.block1 h1 {
    font-size: 25px;
    color: #0557a7;
    margin-bottom: 20px;
}

.block1 table {
    border: 2px solid rgb(216, 214, 214);
    border-collapse: collapse;
    background-color: #f4efef;
}

.tableContainer {
    margin: 20px;
}

.block1 table tr,
.block1 table tr td {
    border: 2px solid rgb(216, 214, 214);
}

.block1 table tr td {
    padding: 8px;
}

.row1 {
    background-color: #f4efef;
}

.row2 {
    background-color: #e6e3e3;
}

.titulo {
    color: rgb(67, 66, 66);
    font-weight: bold;
}

.block1 button{
    background-color: #0557a7;
    color: white;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    padding-right: 25px;
    padding-left: 25px;
    max-width: 80%;
    transition: all .5s ease;
}