footer {
    background-image: url('../imagenes/backup_footer.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    color: white;
}

footer .content-left {
    margin: 50px 50px; 
    float: left;
}

footer .content-right {
    margin: 128px 15%;
    float: right;
}

footer .content-left h3 {
    margin-top: 15px;
}

footer .content-left p {
    margin-top: 3px;
}

footer .content-right button {
    margin-top: 16px;
    margin-left: -16px;
    float: right;
    padding: 5px 50px;
    color: rgb(0,84,166);
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}
