footer {
    height: 100vh;
    display: inline-block;
    background-image: url('../imagenes/footer.png');
    width: 100%;
    height: 600px;
    background-size: cover;
    color: white;
}

footer .content-left {
    margin: 50px 50px; 
    float: left;
}

footer .content-right {
    margin: 50px 50px;
    float: right;
}

footer .content-left h3 {
    margin-top: 15px;
}

footer .content-left p {
    margin-top: 3px;
    color: #ddd5d5;
}

footer .content-right button {
    margin-top: 30px;
    float: right;
    padding: 8px 50px;
    color: #353535;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #353535;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

footer .content-right button:hover {
    background-color: #e3e0e0;
}