.guia {
    background-color: #0c62b7;
    border-top: 2px solid #095aab;
    padding-left: 10px;
    padding: 5px 5px 7px 5px;
}

.guia p,
.guia a {
    padding-left: 10px;
    text-decoration: none;
    display: inline-block;
}

.guia p {
    color: #ccc;
}

.guia a {
    color: white;
}

@media all and (min-width:1500px) {
    .guia {
        padding-left: 10%;
        padding-right: 10%;
    }
}