.guia {
    background-color: #0c62b7;
    border-top: 2px solid #e7e6e6;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding: 5px;
}

.guia p,
.guia a {
    display: inline-block;
}

.guia p {
    color: #ccc;
}

.guia a {
    color: white;
}