.guia {
    background-color: #0c62b7;
    border-top: 2px solid #095aab;
    padding-left: 10px;
    padding: 5px 5px 7px 5px;
}

.guia p,
.guia a {
    padding-left: 10px;
    display: inline-block;
}

.guia p {
    color: #d8d4d4;
}

.guia p a {
    text-decoration: none;
    transition: color 0.5s;
    color: rgba(235, 228, 228, 0.788);
}

.guia p a:hover {
    color: rgb(235, 228, 228);
}

.guia .actual {
    color: #fff;
}

@media all and (min-width:1500px) {
    .guia {
        padding-left: 10%;
        padding-right: 10%;
    }
}