body {
    background: radial-gradient(circle, rgba(249,249,249,1) 0%, rgba(0,0,0,0.1) 100%);
}

.intro {
    max-width: 1300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.intro .left {
    width: 30%; 
    text-align: center;
    float: left;
    margin: auto;
}

.intro .center{
    display: inline-block;
    width: 40%;
    height: 50%;
    text-align: center;
    margin: auto;
}

.intro .right{
    width: 30%;
    text-align: center;
    float: right;
    margin: auto;
}

.cuadro, .circulo {
    -webkit-box-shadow: 10px 10px 43px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 43px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 43px 0px rgba(0,0,0,0.3);
}

.cuadro {
    display: block;
    width: 60%;
    height: 60px;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #3274b6;
    border-radius: 5px;
    background-color: rgb(248, 243, 243);
    padding: 10px;
}

.cuadro h4 {
  margin-bottom: 3px;
}

.circulo{
    width: 95%;
    padding-top:30%;
    padding-bottom: 30%;
    border-radius: 50%;
    margin-top: 30%;
    margin-bottom: 20%;
    display: block;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
    border: 10px solid #3274b6;
    background-color: rgb(248, 243, 243);
}

.circulo h2 {
    font-size: 20px;
}

.circulo h1 {
    font-size: 35px;
}

.break {
    color: #353535;
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
}

.break hr {
    color: #3535352b;
}

.servicios {
    color: #353535;
    max-width: 1500px;
    padding-top: 100px;
    display: flex;
    padding-bottom: 50px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.servicios .secciones {
    width: 50%;
}

.servicios .secciones p,
.servicios .secciones h2,
.servicios .secciones hr {
    max-width: 400px;
}

.servicios .secciones p {
    margin-top: 15px;
    margin-bottom: 20px;
}

.servicios .botones {
    width: 50%;
}

.servicios .botones button {
    float: right;
    margin-bottom: 10px;
    max-width: 500px;
    font-size: 15px;
    width: 85%;
    padding-top: 3%;
    padding-bottom: 3%;
}

footer {
    display: inline-block;
    background-image: url('../imagenes/backup_footer.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    color: white;
}

footer .content-left {
    margin: 50px 50px; 
    float: left;
}

footer .content-right {
    margin: 50px 50px;
    float: right;
}

footer .content-left h3 {
    margin-top: 15px;
}

footer .content-left p {
    margin-top: 3px;
}

footer .content-right button {
    margin-top: 30px;
    float: right;
    padding: 5px 50px;
    color: #353535;
    cursor: pointer;
}










