@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
    background: radial-gradient(circle, rgba(249,249,249,1) 0%, rgba(0,0,0,0.1) 100%);
}

.block1 {
    background-image: url('../imagenes/inicio.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    margin-bottom: 50px;
}

.block1 .content {
    font-family: 'Space Grotesk', sans-serif;;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    text-align: right;
    color: white;
    width:35%;
    padding: 5%;
    line-height: 1.56;
    float: right;
    margin-top: 5%;
    margin-right: 5%;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: .5rem;
}

.block1 .content p {
    font-size: 18px;
}

.break {
    color: #353535;
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
}

.break hr {
    color: #3535352b;
}

.servicios {
    color: #353535;
    max-width: 1500px;
    padding-top: 100px;
    display: flex;
    padding-bottom: 50px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.servicios .secciones {
    width: 50%;
}

.servicios .secciones p,
.servicios .secciones h2,
.servicios .secciones hr {
    max-width: 400px;
}

.servicios .secciones p {
    margin-top: 15px;
    margin-bottom: 20px;
}

.servicios .botones {
    width: 50%;
}

.servicios .botones button {
    float: right;
    margin-bottom: 10px;
    max-width: 500px;
    font-size: 15px;
    width: 85%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 5px;
    border: 2px solid #353535;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.servicios .botones button:hover {
    background-color: #e3e0e0;
}

.cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: arial;
    text-align: center;
    width: 45%;
    margin: auto;
    border-radius: 20px;
    border: 5px solid black;
   
  }
  .cookies__botones button {
    background: initial;
    border: 2px solid rgb(0, 0, 0);
    padding: 1rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    width: 5rem;
    text-align: center;
  }












