
body{
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
}
body div{
justify-content: start;
}



.left{
    display: inline-block;
    width: 30%; 
    text-align: center;
    height: 100%;
    /* background-color: aqua; */
    float: left;
    margin: auto;
}

.center{
    display: inline-block;
    width: 40%;
    height: 50%;
    
    text-align: center;
    margin: auto;
    float: center;
    /* background-color: green; */
}
.right{
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: center;
    /* background-color: yellow; */
    float: right;
    margin: auto;
}

.cuadro{
    display: block;
    width: 60%;
    height: 60px;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid aqua;
    background-color: white;
}

.circulo{
    width: 95%;
    padding-top:35%;
    padding-bottom: 35%;
    border-radius: 50%;
    margin-top: 30%;
    margin-bottom: 20%;
    display: flex;
    object-fit: contain;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
    border: 4px solid aqua;
    background-color: white;
}

.Portafolio{
    text-align: center;
    margin-top: 5%;
    padding-bottom: 15%;
}
.Portafolio p{
    width: 30%;
    text-align: left;
    margin: auto;
}
.Portafolio h1{
    width: 20%;
    margin: auto;
}

.secciones{
    max-width: 600px;
    width: 50%;
    margin-bottom: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    /* padding-right: 10%; */
    
    text-align: center;
    float: left;
}

.secciones h1{
    margin: auto;
}
.secciones p{
    max-width: 300px;
    text-align: left;
    margin-left: 15%;
}

.secciones hr{
    max-width: 600px;
    width: 50%;
    text-align: left;
    margin: auto;
}

.botones{
    max-width: 600px;
    width: 50%;
    margin: auto;
    margin-bottom: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    float: right;
}

.botones button{
    display: block;
margin: auto;
margin-bottom: 2%;
max-width: 600px;
font-size: large;
width: 95%;
padding-top: 5%;
padding-bottom: 5%;

}

#bloque{
    display: block;
}

footer {
    display: inline-block;
    background-image: url('../imagenes/backup_footer.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    color: white;
}

footer .content-left {
    margin: 50px 50px; 
    float: left;
}

footer .content-right {
    margin: 50px 50px;
    float: right;
}

footer .content-left h3 {
    margin-top: 15px;
}

footer .content-left p {
    margin-top: 3px;
}

footer .content-right button {
    margin-top: 30px;
    float: right;
    padding: 5px 50px;
    color: #353535;
    cursor: pointer;
}










