@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

.block1 {
    background-image: url('../imagenes/infraestructura-banner.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.block1 .content {
    font-family: 'Space Grotesk', sans-serif;;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    text-align: right;
    color: white;
    width:35%;
    padding: 5%;
    line-height: 1.56;
    float: right;
    margin-top: 5%;
    margin-right: 5%;
}

.block2, 
.block4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 25px;
    align-items: flex-start;
    font-size: 18px;
    color: rgb(37, 37, 37);
    line-height: 28.0833px;
}

.block2 img,
.block4 img {
    width: 46%;
    max-width: 500px;
    border-radius: 8px;
}

.block2 img {
    margin-left: 100px;
    margin-right: 100px;
}

.block4 img {
    margin-left: 100px;
}

.block2 .content,
.block4 .content {
    font-size: 18px;
    max-width: 30%;
}

.block2 .content hr,
.block4 .content hr {
    color: #d6d6d6;
    margin-bottom: 20px;
}

.block2 .content ul,
.block4 .content ul {
    color: #353535;
    margin-top: 20px;
    line-height: 1.56;
    margin-bottom: 15px;
}

.block2 .content h4,
.block4 .content h4 {
    margin-top: 25px;
    font-weight: 600;
    font-size: 20px;
}

.block2 .content h2,
.block4 .content h2 {
    font-weight: 700;
    font-size: 30px;
}

.container4{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    background-color: rgb(228, 228, 228);
    font-family: 'Space Grotesk', sans-serif;
    justify-content: space-around;
    align-items: stretch;
}

.container5{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-top: 5%;
}

.container5 h2{
    font-size: 40px;
    font-weight: bold;  
    margin-bottom: 10px;
    margin-left: 5%;
}

.container5 p1{
    font-size: 16px;
    margin-bottom: 10%;
    margin-left: 5%;
    max-width: 100%;
    float: left;
}

.container5 p1 span{
    border-top: 1px solid #777777;    
    display: inline-block;
    padding-top: 10px; 
}

.container5 h3{
    font-size: 15px;
    font-weight: bold;  
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    
}

.container5 ul{
    max-width: 100%;
    margin-left: 8%;
}

ol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    counter-reset: num;
    width: 100%;
    margin-left: 2%;
    margin-right: 16%;
    margin-top: 2%;
    margin-bottom:2%;
}

ol li {
    display: flex;
    flex-direction: row;
    align-items: center;
    counter-increment: num;
    margin-bottom: 0.5rem;
    border: 5px solid;
    border-image: linear-gradient(to right, black, #0054a6) 1;
    padding: 1rem;
}

ol li::before {
    content: counter(num);
    margin-right: 0.5rem;
    border: 3px solid black;
    font-size: large;
    font-weight: bold;
    font-family:'Space Grotesk', sans-serif ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}

ol li div {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

li h3 {
    color: #0054a6;
    margin-bottom: 10px;
}

.end {
    margin-bottom: 50px;
}