body {
    background-image: url('../imagenes/img1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titulo {
    border: 2px solid #ffffff2d;
    background-color: #ffffff;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.titulo h2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: #0557a7;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.box {
    width: 42%;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    text-align: center;

    padding: 10px 10px 50px 10px;
    border-radius: 8px;
    background-color: #ffffff;
    transition: all .5s ease;
}

.box:hover {
    transform: translateY(-5px);
}

#bronce:hover {
    box-shadow: 0 8px 16px 0
    rgba(205, 127, 50, 0.5), 
    0 12px 30px 0
    rgba(205, 127, 50, 0.5);
}

#plata:hover {
    box-shadow: 0 8px 16px 0
    rgba(227, 228, 229, 0.5), 
    0 12px 30px 0
    rgba(227, 228, 229, 0.5);
}

#oro:hover {
    box-shadow: 0 8px 16px 0
    rgba(212, 175, 55, 0.5), 
    0 12px 30px 0
    rgba(212, 175, 55, 0.5);
}

.box h4 {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 60%;
    padding: 10px 5px;
    background-color: #0557a7;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
}

.box p {
    background-color: #ededed;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

.box button {
    background-color: #0054a6;
    color: white;
    margin-top: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding-right: 25px;
    padding-left: 25px;
    max-width: 80%;
    transition: all .5s ease;
}

.box button:hover {
    background-color: #0f62b5;
}

@media screen and (max-width:500px) {
    .box {
        width: 80%;
    }
}

@media screen and (min-width:1000px) {
    .box {
        width: 40%;
    }
}

@media screen and (min-width:1500px) {
    .box {
        width: 30%;
    }
}