@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
    background-image: url('../imagenes/mesaConPantallas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Space Grotesk', sans-serif;
}

.container  {
    display: block;
    width: max-content;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 20px 50px;
    background-color: #ffffff;
}
.container .avatar {
    margin-right: 30px;
    border-right: 3px solid #edeef1;
    padding-right: 20px;
    text-align: center;
}

.container .avatar img {
    margin-bottom: 10px;
}

.container .avatar p {
    margin-bottom: 5px;
}

.container .content {
    display: flex;
}

.container .content .avatar,
.container .content .datos {
    flex: 1;
}

.container .content .datos h1 {
    font-size: 25px;
    margin-bottom: 25px;
}

.container .content .datos .titulo {
    font-weight: bold;
    margin-bottom: 8px;
}

.container .content .datos .dato {
    margin-bottom: 25px;
    background-color: #f2f5f8;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: left;
    min-width: 200px;
}

.container .content .datos .nombre-apellidos {
    display: flex;
}

.container .content .datos .nombre-apellidos .item {
    flex: 1;
}

.container .content .datos .nombre-apellidos .item:first-child {
    margin-right: 15px;
}

