@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
    background-image: url('../imagenes/mesaConPantallas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Space Grotesk', sans-serif;
}

.container  {
    display: block;
    width:  max-content;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 20px 50px;
    background-color: #ffffff;
}

.container .avatar {
    margin-right: 30px;
    border-right: 3px solid #edeef1;
    padding-right: 20px;
    text-align: center;
}

.container .avatar img {
    margin-bottom: 10px;
}

.container .avatar p {
    margin-bottom: 5px;
}

.container .content-modificar {
    display: flex;
}

.container .content-modificar .avatar,
.container .content-modificar .datos {
    flex: 1;
}

.container .content-modificar .datos h1 {
    font-size: 25px;
    margin-bottom: 25px;
}

.container .content-modificar .datos .titulo {
    font-weight: bold;
    margin-bottom: 8px;
}

.container .content-modificar .datos .dato {
    border: 2px solid #bbbcbd;
    margin-bottom: 25px;
    background-color: #f2f5f8;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: left;
    min-width: 200px;
}

.container .content-modificar .datos .dato:focus {
    border: 2px solid #136bc3;
    outline: none;
}

.container .content-modificar .datos .nombre-apellidos {
    display: flex;
}

.container .content-modificar .datos .nombre-apellidos .item {
    flex: 1;
}

.container .content-modificar .datos .nombre-apellidos .item:first-child {
    margin-right: 15px;
}

.modificar-datos, .cancelar {
    min-width: 100px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: white;
    padding: 8px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.cancelar {
    margin-right: 10px;
    background-color: rgb(231, 87, 87);
}

.cancelar:hover {
    background-color: rgb(247, 119, 119);
}

.modificar-datos {
    background-color: #0053a6;
}

.modificar-datos:hover {
    background-color: #136bc3;
}

.contenedor-botones {
    bottom: 0;
    right: 0;
}

.botones {
    display: flex;
    justify-content: flex-end;
}

.mensaje-error {
    color: rgb(252, 104, 104);
    margin-bottom: 8px;
    font-size: 15px;
}

.container .content-modificar .datos .error-campo {
    border: 2px solid rgb(252, 104, 104);
}

.container .content-modificar .datos .error-campo:focus {
    border: 2px solid rgb(252, 104, 104);
    outline: none;
}