@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
    background-color: rgb(255, 255, 255);
}

.block1 {
    width: 100%;
    display: block;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 5%;
    line-height: 1.56;
    margin-top: 5%;
    margin-right: 10%;
}

.block2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    align-items: flex-start;
}

.block2 h2 {
    font-family: 'Space Grotesk', sans-serif;;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    text-align: right;
    color: white;
    width:35%;
    padding: 5%;
    line-height: 1.56;
    float: left;
    margin-top: 5%;
    margin-right: 5%;
}

.block2 .content {
    max-width: 30%;
}

hr {
    color: #d6d6d6a0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.block2 .content p {
    margin-top: 10px;
    font-size: 18px;
    color: #353535;
    margin-top: 20px;
    line-height: 1.56;
}

.block2 .content h2 {
    font-weight: 600;
}

.light {
    background-color: #ededed;
}

.dark {
    background-color: #e6e4e4;
}