.container {
   font-family: Arial, sans-serif;
   display: flex;
   align-items: center;
   margin-right: auto;
   margin-left: auto;
   margin-top: 25px;
   background-color: #fff;
   padding: 20px;
   border-radius: 25px;
   border: 3px solid rgb(0, 84, 166);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   width: 40%;
}


.form {
   width: 100%;
   padding: 20px;
   background-color: #fff;
   color: rgb(0, 84, 166);
}

form {
   margin: 0;
}

h2 {
   font-size: 24px;
   margin-bottom: 20px;
   color: rgb(0, 84, 166);
}

label {
   display: block;
   font-weight: bold;
   margin-top: 10px;
}

input {
   width: 95%;
   padding: 10px;
   margin-top: 5px;
   border: 1px solid #9f9e9e;
   border-radius: 4px;
}

.form button {
   display: block;
   width: 40%;
   padding: 10px;
   background-color: rgb(0, 84, 166);
   color: #fff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   margin-top: 10px;
   min-width: 100%;
}

.login-button {
   background-color: rgb(0, 84, 166);
   margin-left:auto;
}

.signup-button {
   background-color: #22983e;
   margin-left: auto;
}

body {
   background-image:url('../imagenes/fondoInicioSesion.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

.superior {
   color: rgb(0, 84, 166);
}

.error {
   color: rgb(239, 93, 93);
   margin-top: 5px;
   margin-bottom: 5px;
}

.error-campo {
   border: 2px solid rgb(252, 104, 104);
}

.error-campo:focus {
   border: 2px solid rgb(252, 104, 104);
   outline: none;
}