@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
    background-color: rgb(255, 255, 255);
}

.block1 {
    background-image: url('../imagenes/nosotros1.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
}

.block1 .content {
    font-family: 'Space Grotesk', sans-serif;;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    text-align: right;
    color: white;
    width:35%;
    padding: 5%;
    line-height: 1.56;
    float: right;
    margin-top: 5%;
    margin-right: 5%;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: .5rem;
}

.block1 .content p {
    font-size: 20px;
}

.block2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
    align-items: flex-start;
}

.block2 img {
    width: 46%;
    margin-right: 100px;
    max-width: 500px;
}

.block2 .content {
    max-width: 30%;
}

.block2 .content hr {
    color: #d6d6d6;
}

.block2 .content p {
    margin-top: 10px;
    font-size: 18px;
    color: #353535;
    margin-top: 20px;
    line-height: 1.56;
}

.block2 .content h2 {
    font-weight: 600;
}


.block3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px;
    align-items: flex-start;
}

.block3 .content {
    max-width: 30%;
}

.block3 .content hr {
    color: #d6d6d6;
}

.block3 .content p {
    margin-top: 10px;
    font-size: 18px;
    color: #353535;
    margin-top: 20px;
    line-height: 1.56;
}

.block3 .content h2 {
    font-weight: 600;
}