@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

.block1 {
    background-image: url("../imagenes/TransformacionDigital.jpeg");
    width: 100%;
    height: 600px;
    background-size: cover;
}

.block1 .content {
    font-family: 'Space Grotesk', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    text-align: right;
    color: white;
    width:35%;
    padding: 5%;
    line-height: 1.56;
    float: right;
    margin-top: 5%;
    margin-right: 5%;
}

.block1 .content h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: .5rem;
}

.block1 .content p {
    font-size: 18px;
}

.portafilioTD {
    align-items: center;
    text-align: center;
    margin-top: 50px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.descripcionPortafolio{
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    margin-top: 2%;
}

.descripcionPortafolio p {  
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 1%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
}

.container1{
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
}

.left{
    display: flex;
    flex-direction: column;
}

.center{
    display: flex;
    flex-direction: column;
}

.right{
    display: flex;
    flex-direction: column;
}

.beneficioL{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 8px solid;
    border-image: linear-gradient(to left, black, #0054a6) 1;
    padding: 1rem;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 0.5rem;
    flex-grow: 1;
}

.beneficioC{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 8px solid;
    padding: 1rem;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 0.5rem;
    flex-grow: 1;
}

.beneficioR{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 8px solid;
    border-image: linear-gradient(to right, black, #0054a6) 1;
    padding: 1rem;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 0.5rem;
    flex-grow: 1;
}

.titBeneficio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 8px solid;
    border-color: black;
    padding: 2.8rem;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 0.5rem;
    flex-grow: 1;
}

.asistenteVirtual{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    background-color: rgb(232, 232, 232);
    font-family: 'Space Grotesk', sans-serif;
}

.asistenteVirtual img{
    border-radius: 5%;
    width: 50%;
    object-fit: contain;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container2{
    display: flex;
    flex-direction: column;
}

.container2 h2{    
    font-size: 40px;
    font-weight: bold;  
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 10%;
    margin-left: 5%;
    
}

.container2 p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10%;
    margin-left: 5%;
}

.container2 p span{
    border-top: 1px solid #353535;    
    display: inline-block;
    padding-top: 2%;
}

.chatbots{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 50px;
}

.container3{
    display: flex;
    flex-direction: column;
}

.container3 h2{    
    font-size: 40px;
    font-weight: bold;  
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 10%;
    margin-left: 5%;
}

.container3 p{
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10%;
    margin-left: 5%;
}

.container3 p span{
    border-top: 1px solid #353535;    
    display: inline-block;
    padding-top: 2%;
}

.container3 h4{
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10%;
    margin-left: 5%;
}

.container3 ul{
    font-size: 20px;
    margin-bottom: 2%;
    margin-right: 10%;
    margin-left: 10%;
}

.chatbots img{
    border-radius: 5%;
    width: 50%;
    object-fit: contain;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}